<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/styles.css">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
<center>
<div class="bigbox">
    <h1>로그인</h1><br><br>
    <form th:action="@{/login}" method="post">
        <div class="smallbox">아이디</div>
        <input type="text" name="id" ><br>
        <br>
        <div class="smallbox">비밀번호</div>
        <input type="password" name="password" ><br>
        <br><br>
        <input type="submit" class="login" value="로그인">
    </form>
    <br>
    <a href="/signup-page">회원가입</a>
    <br>
</div>
</center>
</body>
</html>