<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/styles.css">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>

<body>
<center>
<div class="bigbox">
    <h1>회원가입</h1><br><br>
    <form th:action="@{/sign-up}" method="post">
        <div class="smallbox">아이디</div>
        <input type="text" name="id" ><br>
        <br>
        <div class="smallbox">비밀번호</div>
        <input type="password" name="password" ><br>
        <br>
        <div class="smallbox">이메일</div>
        <input type="text" name="email" ><br>
        <br><br>
        <input type="submit" value="회원가입">
    </form>
</div>
</center>
</body>
</html>